a {
  text-decoration: none;
  color: #8398ad;
  text-align: center;
  width: 100%;
}
a:hover {
  color: #000000;
}
a:focus {
  outline: none;
}
button {
    background: none;
    border: 1px solid #1f9751;
    max-width: 100%;
    padding: 4px 12px;
    border-radius: 4px;
    color: #1f9751;
    cursor: pointer;
    font-size: 1em;
}
